

@import "tailwindcss";


@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background: oklch(0.98 0.005 207.078);
  --foreground: oklch(0.4999999999999999 0.0762 207.078);
  --card: oklch(0.96 0.01 207.078);
  --card-foreground: oklch(0.4999999999999999 0.0762 207.078);
  --popover: oklch(0.96 0.01 207.078);
  --popover-foreground: oklch(0.4999999999999999 0.0762 207.078);
  --primary: oklch(0.865 0.127 207.078);
  --primary-foreground: oklch(0.02 0.10160000000000001 207.078);
  --secondary: oklch(0.92 0.012700000000000001 207.078);
  --secondary-foreground: oklch(0.4999999999999999 0.0762 207.078);
  --muted: oklch(0.92 0.012700000000000001 207.078);
  --muted-foreground: oklch(0.49999999999999994 0.025400000000000002 207.078);
  --accent: oklch(0.92 0.012700000000000001 219.07799999999997);
  --accent-foreground: oklch(0.4999999999999999 0.0762 207.078);
  --destructive: oklch(0.765 0.15 237.078);
  --destructive-foreground: oklch(0.29999999999999993 0.0762 207.078);
  --border: oklch(0.9 0.008 207.078);
  --input: oklch(0.9 0.008 207.078);
  --ring: oklch(0.715 0.0381 207.078);
  --chart-1: oklch(0.88 0.14604999999999999 207.07799999999997);
  --chart-2: oklch(0.74 0.13335 344.586);
  --chart-3: oklch(0.8200000000000001 0.1524 122.09400000000005);
  --chart-4: oklch(0.68 0.127 259.602);
  --chart-5: oklch(0.86 0.12065 37.110000000000014);
  --sidebar: oklch(0.98 0.005 207.078);
  --sidebar-foreground: oklch(0.4999999999999999 0.0762 207.078);
  --sidebar-primary: oklch(0.865 0.127 207.078);
  --sidebar-primary-foreground: oklch(0.4499999999999999 0.0762 207.078);
  --sidebar-accent: oklch(0.92 0.012700000000000001 219.07799999999997);
  --sidebar-accent-foreground: oklch(0.4999999999999999 0.0762 207.078);
  --sidebar-border: oklch(0.9 0.008 207.078);
  --sidebar-ring: oklch(0.715 0.0381 207.078);
  --header: oklch(0.98 0.005 207.078);
  --header-foreground: oklch(0.4999999999999999 0.0762 207.078);
  --footer: oklch(0.98 0.005 207.078);
  --footer-foreground: oklch(0.4999999999999999 0.0762 207.078);
  --code: oklch(0.98 0.005 207.078);
  --code-foreground: oklch(0.4999999999999999 0.0762 207.078);
  --code-highlight: oklch(0.96 0.01 207.078);
  --code-number: oklch(0.7 0.025400000000000002 207.078);
  --code-selection: oklch(0.96 0.01 207.078);
  --code-border: oklch(0.9 0.008 207.078);
  --radius: 0.55rem;
}

.dark {
  --background: oklch(0.18 0.008 232.661);
  --foreground: oklch(0.85 0.0128 232.661);
  --card: oklch(0.22999999999999998 0.0128 232.661);
  --card-foreground: oklch(0.85 0.0128 232.661);
  --popover: oklch(0.22999999999999998 0.0128 232.661);
  --popover-foreground: oklch(0.85 0.0128 232.661);
  --primary: oklch(0.746 0.16 232.661);
  --primary-foreground: oklch(0.02 0.128 232.661);
  --secondary: oklch(0.28 0.024 232.661);
  --secondary-foreground: oklch(0.85 0.0128 232.661);
  --muted: oklch(0.28 0.024 232.661);
  --muted-foreground: oklch(0.85 0.024 232.661);
  --accent: oklch(0.28 0.024 220.66100000000006);
  --accent-foreground: oklch(0.85 0.0128 232.661);
  --destructive: oklch(0.3 0.15 262.661);
  --destructive-foreground: oklch(0.85 0.0128 232.661);
  --border: oklch(0.32999999999999996 0.0096 232.661);
  --input: oklch(0.32999999999999996 0.0096 232.661);
  --ring: oklch(0.55 0.064 232.661);
  --chart-1: oklch(0.866 0.184 232.66100000000006);
  --chart-2: oklch(0.6859999999999999 0.168 10.168999999999983);
  --chart-3: oklch(0.766 0.192 147.67700000000002);
  --chart-4: oklch(0.626 0.16 285.18499999999995);
  --chart-5: oklch(0.806 0.152 62.692999999999984);
  --sidebar: oklch(0.22999999999999998 0.0128 232.661);
  --sidebar-foreground: oklch(0.85 0.0128 232.661);
  --sidebar-primary: oklch(0.746 0.16 232.661);
  --sidebar-primary-foreground: oklch(0.995 0.0128 232.661);
  --sidebar-accent: oklch(0.28 0.024 220.66100000000006);
  --sidebar-accent-foreground: oklch(0.85 0.0128 232.661);
  --sidebar-border: oklch(0.32999999999999996 0.0096 232.661);
  --sidebar-ring: oklch(0.55 0.064 232.661);
  --header: oklch(0.18 0.008 232.661);
  --header-foreground: oklch(0.85 0.0128 232.661);
  --footer: oklch(0.18 0.008 232.661);
  --footer-foreground: oklch(0.85 0.0128 232.661);
  --code: oklch(0.22999999999999998 0.0128 232.661);
  --code-foreground: oklch(0.85 0.0128 232.661);
  --code-highlight: oklch(0.546 0.01 232.661);
  --code-number: oklch(0.646 0.024 232.661);
  --code-selection: oklch(0.18 0.008 232.661);
  --code-border: oklch(0.32999999999999996 0.0096 232.661);
  --radius: 0.55rem;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-black text-foreground;
  }
}
